{% extends "header_templet.html" %}
{% block title %}{{renterinfo}}{% endblock %}

{% block content %}
<h1>Hi  {{ renterinfo }}</h1>
<h3><i>Please Enter new Renter details below</i></h3>
{% if error_message %}
<div class="alert alert-dismissable alert-danger">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Whop!</strong>
  <p> {{ error_message }} </p>
</div>
{% elif success_message %}
<div class="alert alert-success alert-dismissable" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
   <strong>Whop!</strong>
  <p> {{ success_message }} </p>
  
</div>
{% endif %}

<form action="{% url 'Renter:submitrentinfo' 1 %}" method="post">
{% csrf_token %}
<input name="houseowner_id" type="hidden" value="{{ renterinfo.id }}"/>
<ul>     <li Title="Enter Full name of renter" >Name:
             <input name="RenterName" value="" /> 
         </li>
         <li Title="Previous Address of renter" >Previous Address: 
            <input name="RenterPreviousAdd" value="" />
         </li>
        <li Title="Depsoit By renter" >Deposit Submited:
            <input name="RenterDeposit" value="" />
        </li>
        <li Title="Enter Rent Amount paied by Renter" >Rent Amount(per month):
           <input name="RenterMonthrent" value="" /></li>
        <li Title="Enter Agreement Started" >Agreement Started: 
           <span id ='sandbox-container' class="input-append date">
              <input type="text" name="Start_Rent_Date"  value="" class="span2"/>
              <span class="add-on"><i class="icon-th"></i></span>
           </span> </li>
        <li Title="Enter Agreement End " >Agreement End:
           <span id ='sandbox-container' class="input-append date">
              <input type="text" name="End_Rent_Date"  value="" class="span2"/>
              <span class="add-on"><i class="icon-th"></i></span>
           </span> </li>
<input type="submit" value="Sumbit" /></form>
{% endblock %}
