{% extends "header_templet.html" %}
{% block title %}editrenterinfo{% endblock %}

{% block content %}
<h1>Hi  {{renterinfo.HOID}}</h1>
<h3><i>You can edit {{renterinfo}} details below</i></h3>
{% if error_message %}
<div class="alert alert-dismissable alert-danger">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Whop!</strong>
  <p> {{ error_message }} </p>
</div>
{% elif success_message %}
<div class="alert alert-success alert-dismissable" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
   <strong>Whop!</strong>
  <p> {{ success_message }} </p>
  
</div>
{% endif %}
<form action="{% url 'Renter:submitrentinfo' 0 %}" method="post">
{% csrf_token %}
<input name="renter_id" type="hidden" value="{{ renterinfo.id }}"/>
<input name="userdetails_id" type="hidden" value="{{ userdetails.id }}"/>
<ul>
 {# if perms.Renter.change_renterinfo #}  
    <div class="input-group" Title="Enter User name for renter it need to be unique" >
	  <span class="input-group-addon" id="sizing-addon2">Username:</span>
	  <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2" name="RenterUsername" value="{{userdetails.username}}">
	  <span class="input-group-btn">
        <button class="btn btn-default" type="button"> Comming soon(Check Availability)</button>
      </span>
	</div>
	<br/>
	<div class="input-group" Title="Enter Password for {{renterinfo.full_name}}(He may change in future)">
	  <span class="input-group-addon" id="sizing-addon2">Password:</span>
	  <input type="password" class="form-control" placeholder="password" aria-describedby="sizing-addon2" name="RenterPassword" value="" type="password">
	</div>
	<br/>
	<div class="input-group" Title="Enter email id of {{renterinfo.full_name}}" >
	  <span class="input-group-addon" id="sizing-addon2">Email:</span>
	  <input name="RenterEmailid" value="{{userdetails.email}}" type="email" class="form-control" placeholder="email" aria-describedby="sizing-addon2">
	</div> 
      {# endif #}  
    <br/>
	<div class="input-group" Title="Full name of renter"  >
	  <span class="input-group-addon" id="sizing-addon2">Name:</span>
	  <input name="RenterName" value="{{renterinfo.full_name}}" type="text" class="form-control" placeholder="Full name" aria-describedby="sizing-addon2">
	</div>    
	<br/>
	<div class="input-group" Title="Previous Address of {{renterinfo.full_name}}"  >
	  <span class="input-group-addon" id="sizing-addon2">Previous Address:</span>
	  <input name="RenterPreviousAdd" value="{{renterinfo.previous_address}}" type="text" class="form-control" placeholder="Previous Address" aria-describedby="sizing-addon2">
	</div> 
	<br/>
	<div class="input-group" Title="Amount Depsoit By {{renterinfo.full_name}}"  >
	  <span class="input-group-addon" id="sizing-addon2">Deposit Submited:</span>
	  <input name="RenterDeposit" value="{{renterinfo.deposit_by_renter}}" type="number" class="form-control" placeholder="Amount Depsoit" aria-describedby="sizing-addon2">
	</div>
	<br/>
	<div class="input-group" Title="Rent Amount paied by {{renterinfo.full_name}}"  >
	  <span class="input-group-addon" id="sizing-addon2">Rent Amount(per month):</span>
	  <input name="RenterMonthrent" value="{{renterinfo.rent_amount}}" type="number" class="form-control" placeholder="Rent Amount(per month)" aria-describedby="sizing-addon2">
	</div>
	
	<br/>
	<div class="input-group input-daterange">
		<span class="input-group-addon" id="sizing-addon2">Agreement Started: </span>
	    	<input data-date-format="yyyy-mm-dd" data-provide="datepicker" name="Start_Rent_Date"  value="{{renterinfo.start_rent_date}}" type="text" class="span2 form-control" placeholder=""Agreement Start for {{renterinfo.full_name}}"" aria-describedby="sizing-addon2">
	    <span class="input-group-addon" style="padding-right: 8px;background-color: #C7C7C7;">to</span>
	    <span class="input-group-addon" id="sizing-addon2">Agreement End: </span>
	    	<input data-date-format="yyyy-mm-dd" data-provide="datepicker" name="End_Rent_Date"  value=" {{renterinfo.end_rent_date}}" type="text" class="span2 form-control" placeholder=""Agreement End for {{renterinfo.full_name}}"" aria-describedby="sizing-addon2">
    </div>
</ul>       
<input type="submit" value="Sumbit" id="rentsubmitbutton"/></form>
<div style="height:50px;">
</div>
{% endblock %}