{% extends "header_templet.html" %}
{% block title %}editrenterinfo{% endblock %}

{% block content %}
<h1>Hi  {{renterinfo.HOID}}</h1>
<h3><i>You can edit {{renterinfo}} details below</i></h3>
{% if error_message %}
<div class="alert alert-dismissable alert-danger">
<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>Whop!</strong>
  <p> {{ error_message }} </p>
</div>
{% elif success_message %}
<div class="alert alert-success alert-dismissable" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
   <strong>Whop!</strong>
  <p> {{ success_message }} </p>
  
</div>
{% endif %}
<form action="{% url 'Renter:submitrentinfo' 0 %}" method="post">
{% csrf_token %}
<input name="renter_id" type="hidden" value="{{ renterinfo.id }}"/>
<input name="userdetails_id" type="hidden" value="{{ userdetails.id }}"/>
<ul>   {# if perms.Renter.change_renterinfo #}  
     <li Title="Enter User name for renter it need to be unique" >Username:
             <input name="RenterUsername" value="{{userdetails.username}}" /> <button disabled> Comming soon(Check Availability)</button>
         </li>
         <li Title="Enter Password for renter(He may change in future)" >Password:
             <input name="RenterPassword" value="" type="password" /> 
         </li>
         <li Title="Enter email id of renter" >Email:
             <input name="RenterEmailid" value="{{userdetails.email}}" type="email"/> 
         </li> 
      {# endif #}   
<li Title="Full name of renter" >Name:
             <input name="RenterName" value="{{renterinfo.full_name}}" /> 
         </li>
          <li Title="Previous Address of renter" >Previous Address: 
            <input name="RenterPreviousAdd" value="{{renterinfo.previous_address}}" />
         </li>
        <li Title="Depsoit By renter" >Deposit Submited:
            <input name="RenterDeposit" value="{{renterinfo.deposit_by_renter}}" />
        </li>
        <li Title="Rent Amount paied by {{renterinfo.full_name}}" >Rent Amount(per month):
           <input name="RenterMonthrent" value="{{renterinfo.rent_amount}}" /></li>
        <li Title="Agreement Started for {{renterinfo.full_name}}" >Agreement Started: 
           <span id ='sandbox-container' class="input-append date">
              <input type="text" name="Start_Rent_Date"  value="{{renterinfo.start_rent_date}}" class="span2"/>
              <span class="add-on"><i class="icon-th"></i></span>
           </span> </li>
        <li Title="Agreement End for {{renterinfo.full_name}}" >Agreement End:
           <span id ='sandbox-container' class="input-append date">
              <input type="text" name="End_Rent_Date"  value=" {{renterinfo.end_rent_date}}" class="span2"/>
              <span class="add-on"><i class="icon-th"></i></span>
           </span> </li>
<input type="submit" value="Sumbit" /></form>
{% endblock %}