<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    {% load staticfiles %}
        <!-- Our CSS stylesheet file -->
        <link rel="stylesheet" href='{% static "css/bootstrap.css" %}' />
        <link rel="stylesheet" href='{% static "css/font-awesome.css" %}' />
        <link rel="stylesheet" href='{% static "css/House_rent.css" %}' />
        <link rel="stylesheet" href='{% static "css/datepicker3.css" %}' />
        <link rel="stylesheet" href='{% static "css/datepicker.css" %}' />
        <style>
			a.disabled {
             pointer-events: none;
             cursor: default;
            }

    	</style>
        <script src='{% static "js/jquery1_11_0.js" %}'></script>
        <script src='{% static "js/collapse.js" %}'></script>
        <script src='{% static "js/House_rent.js" %}'></script>
        <script src='{% static "js/bootstrap.js" %}'></script>
        <script src='{% static "js/bootstrap-datepicker.js" %}'></script>
        
    <title>{% block title %}My amazing site{% endblock %}</title>
   <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>

<body>
    <div id="header">
           <!--   {% block header %} -->
        <div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/houseowner/">MY Rentel Plan</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Your Setting<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="disabled" href="#">Edit Your Info</a></li>
            <li><a class="disabled" href="#">See Account info</a></li>
            <!-- li><a href="#">Delete Your Account</a></li-->
            <li class="divider"></li>
            <li><a href="/user/logout/">Sign Out</a></li>
          </ul>
        </li>
      </ul>
  </div>
</div>
<div class="page-header">
    <h2>House Rent plan</h2><br/>
  <h4><small> Here it will allow you to manage the house rent system as you can manages your Renter info and there Rent details with this system </small></h4>
</div>
       <!-- {% endblock %} -->
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>