dj-static=0.0.6
BeautifulSoup==3.2.1
Cython==0.20
GitPython==0.3.2.RC1
GnuPGInterface==0.3.2
Kivy==1.7.2
Mako==0.7.1
MarkupSafe==0.15
PAM==0.4.2
PIL==1.1.7
PyGithub==1.23.0
PyICU==1.4
PyOpenGL==3.0.1
Pygments==1.5
Twisted-Core==12.2.0
Twisted-Names==12.2.0
Twisted-Web==12.2.0
apt-xapian-index==0.44
aptoncd==0.1.98-bzr117-1.2
apturl==0.4.1ubuntu4
argparse==1.2.1
async==0.6.1
bpython==0.11
buildozer==0.9
chardet==2.0.1
configglue==1.0
debtagshw==0.1
defer==1.0.6
dirspec==4.0.0
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.28dev-r0
duplicity==0.6.19
feedparser==5.1.2
gitdb==0.5.4
gufw==12.10.0
gunicorn==18.0
httplib2==0.7.4
lxml==2.3.5
numpy==1.6.2
oauth==1.0.1
paramiko==1.7.7.1
pexpect==2.4
piston-mini-client==0.7.2
protobuf==2.4.1
pyOpenSSL==0.13
pycrypto==2.6
pycups==1.9.62
pycurl==7.19.0
pyenchant==1.6.5
pygame==1.9.1release
pyinotify==0.9.3
pyserial==2.5
pysmbc==1.0.13
python-apt==0.8.7ubuntu4
python-debian==0.1.21-nmu2ubuntu1
pyxdg==0.20
reportlab==2.5
sessioninstaller==0.0.0
simplejson==2.6.1
six==1.1.0
smmap==0.8.2
system-service==0.1.6
uTidylib==0.2
vboxapi==1.0
virtualenv==1.10.1
wsgiref==0.1.2
zope.interface==3.6.1
