{% extends "header_templet.html" %}
{% block title %}HouseOwner{% endblock %}

{% block content %}
<h1>{{ rentdetails.RID }}</h1>
{% if error_message %}
<div class="alert alert-dismissable alert-danger">
  <strong>Whop!</strong>
  <p> {{ error_message }} </p>
</div>
{% endif %}
<form action="{% url 'Rentdetails:submitrentdetails' 0 %}" method="post">
{% csrf_token %}
<input name="rentdetails_id" type=hidden value="{{ rentdetails.id }}"/>
<ul><b> Rentes given on date :{{ rentdetails.rent_given_date }}</b>
    			<li>Amount:<input name="Amount" value="{{ rentdetails.rent_amount }}"/></li>
    			<li>Date given:<span id ='sandbox-container' class="input-append date">
                                  <input type="text" name="Dategiven" value="{{ rentdetails }}" class="span2"><span class="add-on"><i class="icon-th"></i></span>
                               </span></li>
    			<li>payee in advance:{% if rentdetails.pay_inadvance %} <input name="pyeeadv" value="{{ rentdetails.pay_inadvance }}" type='checkbox' checked/> {% else %} <input name="pyeeadv" value="{{ rentdetails.pay_inadvance }}" type='checkbox' /> {% endif %}</li>
    			<li>mounths:{% for Acry_months in rentdetails.Months_year %} 
    			{% if Acry_months.0 in rentdetails.Paid_for_mounths %} 
                <input type="checkbox" class="advpayeemonth" value="{{Acry_months.0}}" checked="checked">{{Acry_months.1}}</checkbox>
                {% else %}
                <input type="checkbox" class="advpayeemonth" value="{{Acry_months.0}}" >{{Acry_months.1}}</checkbox>
                {% endif %}
                {% endfor %}<input name="months" id="submitmonths" value="" type="hidden"/></li>
<input type="submit" value="Sumbit" />
</form>
</ul>
{% endblock %}
