{% extends "header_templet.html" %}
{% block title %}HouseOwner{% endblock %}

{% block content %}
<h1>{{ rentdetails.RID }}</h1>
<ul><b> Rentes given on date :{{ rentdetails.rent_given_date }}</b>
    			<li>{{ rentdetails.rent_amount }}</li>
    			<li>{{ rentdetails.rent_given_date }}</li>
    			<li>{{ rentdetails.pay_inadvance }}</li>
    			<li>{% for months in rentdetails.Paid_for_mounths %}
    			       {% if forloop.counter == 1  %}
    			         {{ months }}
    			       {% else %}     
    			         ,{{ months }}
    			       {% endif %}
    			    {% endfor %}
    			</li>
<a href="{% url 'Rentdetails:editrentdetails'  rentdetails.id %}">edit</a>
</ul>
{% endblock %}
