<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Houseowner</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
</head>
<body>
{% if Houseowner_list %}
    <ul>
    {% for houseowner in Houseowner_list %}
        <li><a href="{% url 'houseowner:detail' houseowner.id %}">{{ houseowner.Full_Name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>