{% extends "header_templet.html" %}
{% block title %}HouseOwner{% endblock %}
{% block content %}

{% if Houseowner_list %}
    <div class="panel-group" id="accordion">
    {% for houseowner in Houseowner_list %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
           <a href="{% url 'houseowner:detail' houseowner.id %}">{{ houseowner.Full_Name }}</a>
           {# if perms.houseowner.change_houseowner and perms.houseowner.delete_houseowner #}
           <a data-toggle="collapse"  data-parent="#accordion" class="icon-large icon-eye-open" href="#col{{houseowner.id}}" id="showcollapse"></a>
           {# endif #}
        </h4>
      </div>
    <div id="col{{houseowner.id}}" class="panel-collapse collapse">
      <div class="panel-body">
        <li Title="Full name of renter" >Name: {{houseowner.Full_Name}}</li>
        <li Title="Address where leaves" >Address: {{houseowner.Address_of_houseowner}}</li>
        <li Title="How many renters are there" >No of Renter: {{houseowner.No_of_renters}}</li>
        <li Title="When Joined with site" >Site Joined: {{houseowner.Houseownerjoinedthesite}}</li>
        
      </div>
    </div>
    </div>
    {% endfor %}
    </div>
{% else %}
    <div class="alert alert-dismissable alert-danger">
  <strong>Whop!</strong>
  <p> No Polls available here </p>
</div>
{% endif %}
{% endblock %}
